.table-responsive {
  display: block;
}
.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  thead {
    th {
      vertical-align: middle;
    }
  }

  tbody {
    td {
      vertical-align: middle;
    }

    input {
      display: inline;
    }

    img {
      width: 80px;
      display: block;
      margin: 0 auto;
    }

    [class^='icon'] {
      cursor: pointer;
  }
  }
}