// Colors

$white: #fff;
$gray: #bbc2cd;
$gray-1: #e5e5e5;
$gray-2: #f5f8f9;
$dark-gray: #444444;
$black: #000;
$blue: #00a0ff;
$dark-blue: #223658;
$green: #02cf8b;
$comet: #656880;
$grayish-blue: #bdc4cf;

$base-color: #2F2F2F;
$border-base-color: #ebebeb;
$site-background: #fafafa;
$content-background: #fff;
$button-hover: #272b53;
$button-hover-border: $green;
$icon-default: #999999;
$icon-color: #5d90cf;
$table-gray: #f6f6f6;
